<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Suite">
  <parameter name="userName" value="mr@local.com"></parameter>
  <parameter name="passWord" value="11111111"></parameter>
    <classes>
      <class name="TestNG.TestNGRetryFailedDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
